*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 0; }

html {
  font-size: 62.5%; }

@media (max-width: 700px) {
  html {
    font-size: 56.25%; } }

@media (max-width: 600px) and (min-width: 470px) {
  html {
    font-size: 43.75%; } }

@media (max-width: 470px) and (min-width: 360px) {
  html {
    font-size: 37.5%; } }

@media (max-width: 360px) and (min-width: 330px) {
  html {
    font-size: 31.25%; } }

@media (max-width: 330px) and (min-width: 260px) {
  html {
    font-size: 25%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  60% { }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes typing {
  0% {
    width: 0ch; }
  100% {
    width: 17ch; } }

body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* Number of repeation of the animation
        /* animation-iteration-count: 2; */ }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 1.2rem;
    text-transform: none;
    display: hidden;
    animation-fill-mode: both;
    /* animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    transition: ease-in .1s;
    margin: 0 auto;
    width: 17ch; }
    .heading-primary--sub-line {
      display: inline-block;
      color: #6699CC; }
    .heading-primary--sub-name {
      color: #EC5f67; }
  .heading-primary-type {
    animation: typing 4s steps(17) infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #000; }

.heading-secondary {
  padding-top: 4rem;
  font-size: 5rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .5rem; }

.heading-third {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 3rem; }

.heading-info {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-med {
  margin-top: 6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-mrgleft-row {
  margin-left: 1rem !important; }

.u-padding-top-huge {
  padding-top: 20rem; }

.bg-video {
  border-radius: 3px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: .7;
  overflow: hidden;
  position: absolute; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.cardcover {
  width: 35%;
  height: 35rem;
  position: relative; }
  .cardcover::after {
    content: "";
    display: table;
    clear: both; }

.holder {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  position: absolute; }
  .holder_card {
    height: 35rem;
    width: 100%; }
    .holder_card_side {
      border: 1px solid black;
      clear: both;
      content: "";
      position: absolute;
      border-radius: 3px;
      height: 10rem;
      color: #fff;
      font-size: 2rem;
      transition: all 1.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden; }
      .holder_card_side-front {
        position: absolute; }
        .holder_card_side-front-1 {
          background: linear-gradient(to right bottom, #2998ff, #5643fa); }
        .holder_card_side-front-2 {
          background: linear-gradient(to right bottom, #ffb900, #ff7730); }
        .holder_card_side-front-3 {
          background: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .holder_card_side-back {
        width: 100%;
        background-color: #c2c0c0;
        transform: rotateY(-180deg); }
    .holder_card_heading {
      padding-left: 3rem;
      position: absolute;
      font-size: 2rem;
      text-align: center;
      padding-top: 15%; }
    .holder_card_details {
      color: #333;
      font-weight: 500;
      padding: 3rem;
      margin-top: 5%;
      text-transform: uppercase; }
      .holder_card_details ul {
        list-style-type: none;
        width: 80%;
        margin: 0 auto; }
        .holder_card_details ul li {
          text-align: center;
          font-size: 1.8rem;
          padding: 1rem;
          width: 20rem; }
          .holder_card_details ul li:not(:last-child) {
            border-bottom: 1px solid #fff; }
    .holder_card_icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #ee6c4d, #D90429);
      -webkit-background-clip: text;
      color: transparent; }
  .cardcover:hover .holder_card_side-front {
    transform: rotateY(180deg); }
  .cardcover:hover .holder_card_side-back {
    transform: rotateY(0deg); }
  .cardcover:hover .holder_card_side {
    height: 35rem; }
  .cardcover:hover .holder_card_side-back {
    height: 30rem; }

.js_card {
  border-radius: 3px;
  width: 100%;
  height: 30rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .js_card_side {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 8rem;
    transition: all 1.5s ease;
    backface-visibility: hidden;
    top: 0;
    left: 0; }
    .js_card_side_front {
      position: absolute;
      background-color: #2d2d2a; }
    .js_card_side_back {
      position: absolute;
      background-color: red;
      transform: rotateY(-180deg); }
  .js_card_text {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 10rem; }
  .js_card:hover .js_card_side_front {
    transform: rotateY(180deg); }
  .js_card:hover .js_card_side_back {
    transform: rotateY(0deg); }

.examples {
  height: 25rem;
  transition: all .2s;
  box-shadow: 1.2rem 1.2rem 4rem rgba(43, 43, 43, 0.8); }
  .examples_box {
    height: 25rem;
    background-color: #2b2b2b;
    position: relative;
    border-radius: 3px; }
  .examples_img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; }
    .examples_img-1 {
      background-image: url(../img/html.png); }
    .examples_img-2 {
      background-image: url(../img/JS.png); }
    .examples_img-3 {
      background-image: url(../img/css.png); }
    .examples_img-4 {
      background-image: url(../img/phpbg.jpg);
      border-radius: 3px; }
  .examples_tit {
    position: absolute;
    color: #c2c0c0;
    font-size: 1rem;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .5s; }
  .examples:hover {
    transform: translate(1%, -2%);
    box-shadow: 1.05rem 2rem 8rem #434343; }
  .examples:active {
    transform: translate(1%, 1%);
    box-shadow: 1.05rem 1.1rem 4rem #434343; }
  .examples:hover .examples_tit {
    opacity: 1;
    transform: translate(-50%, -50%);
    filter: contrast(4);
    font-weight: 800;
    font-size: 4.3rem; }
  .examples:hover .examples_img {
    filter: blur(5px) brightness(60%); }

.section_examples {
  height: fit-content;
  padding-bottom: 5rem;
  background-color: #f7f7f7; }

.jss_header {
  height: 45vh;
  background: #333;
  border-radius: 3px;
  overflow: hidden; }
  .jss_header-img {
    height: 45vh;
    background-image: url(../img/jsie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateY(-25%);
    z-index: 1; }

.jss_heading {
  position: absolute;
  z-index: 2;
  transform: translate(170%, 200%);
  color: #fff;
  text-align: center; }

.js_section {
  background-color: #c2c0c0;
  position: relative;
  padding-bottom: 10rem; }

.header {
  height: 95vh;
  background: rgba(247, 247, 247, 0.2);
  background-size: cover;
  border-radius: 3px;
  position: relative; }
  .header_namebox {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header_logobox {
    width: 50%;
    margin: 0 auto; }
    .header_logobox-shape {
      height: 29rem;
      width: 29rem;
      float: left;
      background-color: orangered;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%); }
    .header_logobox-img {
      width: 100%;
      height: 100%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) /3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) /4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem)/4) + 2*6rem); }

.footer {
  color: #f7f7f7;
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  font-weight: 400; }
  .footer_logo {
    width: 15rem;
    height: auto; }
    .footer_logo-box {
      text-align: center;
      margin-bottom: 8rem; }
  .footer_navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer_list {
    list-style-type: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer_link:hover, .footer_link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer_coppyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
