.bg-video {
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: .7;
    overflow: hidden;
    position: absolute;
    
    &_content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}