.cardcover {
    width: 35%;
    height: 35rem;
    position: relative;
    @include clearfix;
}

.holder {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 35rem;
    position: absolute;
    &_card {
        height: 35rem;
        width: 100%;
        &_side {
            border: 1px solid black;
            clear: both;
            content: "";
            position: absolute;
            border-radius: 3px;
            height: 10rem;
            color: $color-white;
            font-size: 2rem;
            transition: all 1.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            &-front {
                position: absolute;
                &-1 {
                    background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
                }
                &-2 {
                    background: linear-gradient(to right bottom, $color-or-li, $color-or-da);
                }
                &-3 {
                    background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
                }
            }
            &-back {
                width: 100%;
                background-color: $color-grey-white-2;
                transform: rotateY(-180deg);
            }
        }
        &_heading {
            padding-left: 3rem;
            position: absolute;
            font-size: 2rem;
            text-align: center;
            padding-top: 15%;
        }
        &_details {
            color: $color-grey-dark-3;
            font-weight: 500;
            padding: 3rem;
            margin-top: 5%;
            text-transform: uppercase;
            ul {
                list-style-type: none;
                width: 80%;
                margin: 0 auto;
                li {
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 1rem;
                    width: 20rem;
                    &:not(:last-child) {
                        border-bottom: 1px solid $color-white;
                    }
                }
            }
        }
        &_icon {
            font-size: 6rem;
            margin-bottom: .5rem;
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    .cardcover:hover &_card_side-front {
        transform: rotateY(180deg);
    }
    .cardcover:hover &_card_side-back {
        transform: rotateY(0deg);
    }
    .cardcover:hover &_card_side {
        height: 35rem;
    }
    .cardcover:hover &_card_side-back {
        height: 30rem;
    }
}

.js_card {
    border-radius: 3px;
    width: 100%;
    height: 34rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    &_side {
        position: relative;
        height: 100%;
        width: 100%;
        font-size: 8rem;
        transition: all 1.5s ease;
        backface-visibility: hidden;
        top: 0;
        left: 0;
        &_front {
            position: absolute;
            background-color: $color-card-2-dark;
        }
        &_back {
            position: absolute;
            transform: rotateY(-180deg);
            &-1 {
                background-color: $color-blue-mat;
            }
            &-2 {
                background-color: $color-red-mat;
            }
        }
    }
    &_text {
        vertical-align: middle;
        text-align: center;
        font-size: 10rem;
        margin-top: 25%;
    }
    &:hover &_side_front {
        transform: rotateY(180deg);
    }
    &:hover &_side_back {
        transform: rotateY(0deg);
    }
}