.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
    &_side {
        border-radius: 3px;
        height: 40rem;
        color: $color-white;
        font-size: 2rem;
        transition: all 1.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        &-front {
            background-color: $color-grey-dark-3;
            &-1 {
                background: linear-gradient(to right bottom, $color-grey-dark, $color-grey-dark-3);
            }
        }
        &-back {
            background-color: $color-grey-white-2;
            transform: rotateY(-180deg);
        }
    }
    &_heading{
        text-align: center;
        padding-top: 25%;
    }
   
    &_icon {
        font-size: 9rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover &_side-front {
        transform: rotateY(180deg);
    }
    &:hover &_side-back {
        transform: rotateY(0deg);
    }
}