.examples {
    height: 25rem;
    transition: all .2s;
    box-shadow: 1.2rem 1.2rem 4rem rgba(43, 43, 43, .8);
    &_box {
        height: 25rem;
        background-color: $color-black-matte;
        position: relative;
        border-radius: 3px;
    }
    &_img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        &-1 {
            background-image: url(../img/HTML.png);
        }
        &-2 {
            background-image: url(../img/JS.png);
        }
        &-3 {
            background-image: url(../img/CSS.png);
        }
        &-4 {
            background-image: url(../img/phpbg.jpg);
            border-radius: 3px;
        }
    }
    &_tit {
        position: absolute;
        color: $color-grey-white-2;
        font-size: 1rem;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all .5s;
    }
    &:hover {
        transform: translate(1%, -2%);
        box-shadow: 1.05rem 2rem 8rem rgba(67, 67, 67, 1);
    }
    &:active {
        transform: translate(1%, 1%);
        box-shadow: 1.05rem 1.1rem 4rem rgba(67, 67, 67, 1);
    }
    &:hover &_tit {
        opacity: 1;
        transform: translate(-50%, -50%);
        filter: contrast(4);
        font-weight: 800;
        font-size: 4.3rem;
    }
    &:hover &_img {
        filter: blur(5px) brightness(60%);
    }
}
