*,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 0;
}

html {
    font-size: 62.5%;
}

@media (max-width: 700px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 600px) and (min-width: 470px) {
    html {
        font-size: 43.75%;
    }
}

@media (max-width: 470px) and (min-width: 360px) {
    html {
        font-size: 37.5%;
    }
}

@media (max-width: 360px) and (min-width: 330px) {
    html {
        font-size: 31.25%;
    }
}

@media (max-width: 330px) and (min-width: 260px) {
    html {
        font-size: 25%;
    }
}

body {
    box-sizing: border-box;
}