.section-about{
    background-color: $color-grey-white-2;
    padding: rem 0 15rem 0;
    margin-top: 0;
    // clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%,0 100%); // clip-path: polygon(0 0,50% 15%,100% 0,100% 85%,50% 100%,0 85%); 
}